{% extends "layout.html" %}
{% block content %}
<div class="col-md-12">
    <h4>Accounts Status</h4>
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped table-sm">
            <thead>
                <th>S.NO</th>
                <th>Acc ID</th>
                <th>Cust ID</th>
                <th>Status</th>
                <th>Message</th>
                <th>Last Updated</th>
            </thead>
            <tbody>
                {% for value in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ 100000000+value[0]}}</td>
                    <td>{{ 500000000+value[1]}}</td>
                    <td>{{ value[2]}}</td>
                    <td>{{ value[3]}}</td>
                    <td>{{ value[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}